
	h1 {
		color: red;
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 4px; 
}


body{
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: Green;
}
html
{
background-color: #95A5A6;
}